.container {
  background-image: url(../Login/login.png);
  height: 100vh;
  background-size: cover;
  padding: 40px;
  .title {
    font-size: 36px;
    padding: 40px 60px;
  }
  .form-style {
    max-width: 500px;
    text-align: center;
    padding: 0 25px;
    .ant-form-item-explain.ant-form-item-explain-connected
      .ant-form-item-explain-error {
      text-align: left;
    }
  }
}
